{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Blur Detection</h1>
    <p>Blur Detection works using the total variance of the laplacian of an image, this provides a quick and accurate method for scoring how blurry an image is.</p>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
	<p>This package only depends on numpy and opencv, to install them run,

pip install -U -r requirements.txt
The repository has a script, process.py which lets us run on single images or directories of images. The blur detection method is highly dependent on the size of the image being processed. To get consistent scores we fix the image size to HD, to disable this use --variable-size. The script has options to,

<li># run on a single image</li>
<li>python process.py -i input_image.png</li>

<li># run on a directory of images</li>
<li>python process.py -i input_directory/ </li>

<li># or both! </li>
<li>python process.py -i input_directory/ other_directory/ input_image.png</li>
<li>. In addition to logging whether an image is blurry or not, we can also,</li>

<li># save this information to json</li>
<li>python process.py -i input_directory/ -s results.json</li>

<li># display blur-map image</li>
<li>python process.py -i input_directory/ -d</li>
</p>
      </ul>
    </div>
    <div class="col-md-6">
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
  </div>
</div>
{% endblock %}
